<header class="AdminHeader">
  <div class="AdminHeader__container">
    <a href="{{ url_for('admin.admin_dashboard') }}" class="AdminHeader__logo"
      >پنل مدیریت آیروکاپ</a
    >
    <nav class="AdminHeader__nav" id="admin-nav">
      <a
        href="{{ url_for('admin.admin_dashboard') }}"
        class="{{ 'Active' if request.endpoint == 'admin.admin_dashboard' else '' }}"
        >داشبورد</a
      >
      <a
        href="{{ url_for('AdminClientsList') }}"
        class="{{ 'Active' if request.endpoint == 'AdminClientsList' else '' }}"
        >کاربران</a
      >
      <a
        href="{{ url_for('AdminManageTeams') }}"
        class="{{ 'Active' if request.endpoint == 'AdminManageTeams' else '' }}"
        >تیم‌ها</a
      >
      <a
        href="{{ url_for('AdminManageNews') }}"
        class="{{ 'Active' if request.endpoint == 'AdminManageNews' else '' }}"
        >اخبار</a
      >
      <a href="{{ url_for('Logout') }}" class="Btn BtnSecondary">خروج</a>
    </nav>
    <button
      class="AdminHeader__mobile-toggle"
      aria-controls="admin-nav"
      aria-expanded="false"
    >
      <i class="fas fa-bars" aria-hidden="true"></i>
    </button>
  </div>
</header>
